@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}
:root {
  --radius: 0.65rem;

  --background: hsl(193 40% 4%);
  --foreground: hsl(0 0% 93%);

  --card: hsl(193 20% 12%);
  --card-foreground: hsl(0 0% 93%);
  --popover: hsl(193 20% 10%);
  --popover-foreground: hsl(0 0% 93%);

  --primary: hsl(332 47% 49%);
  --primary-foreground: hsl(0 0% 100%);

  --secondary: hsl(215 100% 50%);
  --secondary-foreground: hsl(0 0% 100%);

  --muted: hsl(0 0% 30%);
  --muted-foreground: hsl(193 25% 55%);

  --accent: hsl(195 45% 41%);
  --accent-foreground: hsl(0 0% 100%);

  --border: hsl(193 38% 32%);
  --input: hsl(193 38% 32%);
  --ring: hsl(195 45% 41%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    color-scheme: dark;
    @apply bg-background text-foreground;
  }
}
